
@{
    ViewBag.Title = "DriverRestrictionError";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div style="text-align:center; margin:4rem 0 4rem 0">
    <img src="~/Templates/urotaxi-html/images/ErrorPageImage.png" alt="Alternate Text" />
</div>

