@model EntityLayer.Concrete.Admin

<div class="user-wrapper">
    <img src="img1.jpe" style="width:40px; height:40px" alt="">
    <div>
        <h4>@Model.AdminName</h4>
        <small>@Model.AdminMail</small>
    </div>
</div>
