
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-5 offset-lg-2 offset-md-1">
                <div class="detail-box">
                    <h2>
                        About <br>
                        Taxi Company
                    </h2>
                    <p>
                        UROTAXI service is the first taxi booking service in Baku. Orders are accepted 24 hours a day, 7 days a week.

                        UROTAXI service has been operating in Baku since December 2009. UROTAXI service is the largest and most well-known taxi booking service in Azerbaijan. Our carefully selected drivers and cars under our constant control allow us to always keep the quality of our service at the highest level.
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/Templates/urotaxi-html/images/about-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
