@{
    ViewBag.Title = "ChangePasswordClient";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="service_section layout_padding-bottom" style="background-color:#f7f7f7; padding:2rem">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5  offset-md-1">
                <div class="contact_form">
                    <h3>
                        <i class="fas fa-user-lock"></i> Change Your Password
                    </h3>
                    <form action="/Client/ChangePasswordClient" method="post">
                        <label for="name">Old Password</label>
                        <input type="text" class="form-control" name="oldpassword" value="" required />
                        <label for="surname">New Password</label>
                        <input type="text" class="form-control" name="password1" required />
                        <label for="surname">New Password Again</label>
                        <input type="text" class="form-control" name="password2" required />
                        @if (!string.IsNullOrEmpty((string)TempData["ErrorMessage"]))
                        {
                            <h5 style="color:red">
                                <i class="fas fa-exclamation-circle text-danger"></i> @TempData["ErrorMessage"]
                            </h5>
                        }
                        <br />
                        <button class="btn btn-warning" type="submit">Change Password</button>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


