@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/gif/png" href="~/Templates/AdminPanel/images/apicon.png">
    <title>UROTAXI AdminPanel</title>
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/Templates/AdminPanel/style.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>

    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="fas fa-users-cog"></span><span>UROTAXI <small>Admin Panel</small></span></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/AdmDashboard/Index" class="active1"><span class="fas fa-igloo"></span><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="/AdmDashboard/Clients" class="active1"><span class="fas fa-users"></span><span>Clients</span></a>
                </li>
                <li>
                    <a href="/AdmDashboard/Drivers" class="active1"><span class="fas fa-taxi"></span><span>Drivers</span></a>
                </li>
                <li>
                    <a href="/AdmOrder/Orders" class="active1"><span class="fas fa-shopping-bag"></span><span>Orders</span></a>
                </li>
                <li>
                    <a href="/AdmNews/News" class="active1"><span class="fas fa-newspaper"></span><span>News</span></a>
                </li>
                <li>
                    <a href="/AdmContact/Index" class="active1"><span class="fas fa-envelope-open-text"></span><span>Contact</span></a>
                </li>
                <li>
                    <a href="/AdmAdmin/Admins" class="active1"><span class="fas fa-user-circle"></span><span>Accounts</span></a>
                </li>
                <li>
                    <a href="/Login/AdminSignOut" class="active1"><span class="fas fa-sign-out-alt"></span><span>Sign Out</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="header-title">
                <h2>
                    <label for="nav-toggle">
                        <span class="las la-bars"></span>
                    </label>
                    Dashboard
                </h2>
            </div>
            @Html.Action("ProfileInfo", "AdmDashboard")
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
