@using EntityLayer.Concrete
@model PagedList.IPagedList<News>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- news section -->

<section class="news_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Our <br>
                News
            </h2>
        </div>
        <div class="news_container">
            @foreach (var item in Model)
            {
                <div class="box">
                    <div class="date-box">
                        <h6>
                            @item.NewsDate.ToString("yyyy-MMM-dd")
                        </h6>
                    </div>
                    <div class="img-box">
                        <img src="~/Templates/urotaxi-html/images/news-img.jpg" alt="">
                    </div>
                    <div class="detail-box">
                        <h6>
                            @item.NewsHeading
                        </h6>
                        <p style="width:300px; height:250px">
                            @item.NewsValue
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<div class="container">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
    {
        LiElementClasses = new List<string>
        {"page-link"}
    })
</div>

<!-- end news section -->
