@model EntityLayer.Dto.DriverLoginDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/gif/png" href="~/Templates/urotaxi-html/images/title-logo.png">
    <title>Login UROTAXI</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/Templates/Login&Register/css/style.css">
</head>
<body>

    <div class="main" style="padding:5px 0">
        <div class="container">
            <div class="booking-content">
                <div style="text-align: center;" class="booking-image">
                    <img class="booking-img" src="~/Templates/Login&Register/images/taxi1.png" alt="Booking Image">
                </div>
                <div style="display: flex; align-items: center;" class="booking-form">
                    <form action="/Login/DriverLogin" method="post" style="width: 100%;" id="booking-form">
                        <h2><span style="padding: 0px 10px" class="fas fa-taxi"></span>Login Your Driver Account</h2>
                        <h4 style="color:forestgreen">@TempData["Successfull"]</h4>
                        <div class="form-group form-input">
                            <input type="email" name="Email" id="email" value="" required />
                            <label for="email" class="form-label">Your Email</label>
                        </div>
                        <div class="form-group form-input">
                            <input type="password" name="Password1" id="password" value="" required />
                            <label for="password" class="form-label">Password</label>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Login" class="submit" id="submit" name="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="~/Templates/Login&Register/vendor/jquery/jquery.min.js"></script>
    <script src="~/Templates/Login&Register/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
