<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login UROTAXI</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="booking-content">
                <div style="text-align: center;" class="booking-image">
                    <img class="booking-img" src="images/logosign.png" alt="Booking Image">
                </div>
                <div style="display: flex; align-items: center;" class="booking-form">
                    <form style="width: 100%;" id="booking-form">
                        <h2>Login Your Account</h2>
                        <div class="form-group form-input">
                            <input type="email" name="email" id="email" value="" required />
                            <label for="email" class="form-label">Your Email</label>
                        </div>
                        <div class="form-group form-input">
                            <input type="password" name="password" id="password" value="" required />
                            <label for="password" class="form-label">Password</label>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Login" class="submit" id="submit" name="submit" />
                            <a href="#" class="vertify-booking">Verify your booking info from your phone</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>