
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- service section -->

<section class="service_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Our <br>
                Taxi Services
            </h2>
        </div>
        <div class="service_container">
            <div class="box">
                <div class="img-box">
                    <img src="~/Templates/urotaxi-html/images/delivery-man.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Get Taxi
                    </h5>
                    <p>
                        Lorem ipsum dolor sit ame
                    </p>
                    <a href="/Service/GetTaxiService">
                        Read More
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/Templates/urotaxi-html/images/airplane.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Airport Transfer
                    </h5>
                    <p>
                        Lorem ipsum dolor sit ame
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="~/Templates/urotaxi-html/images/backpack.png" alt="">
                </div>
                <div class="detail-box">
                    <h5>
                        Luggage Transfer
                    </h5>
                    <p>
                        Lorem ipsum dolor sit ame
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end service section -->
